.hb-profile-button{
    width: calc(100% - 30px);
    height: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
}
.hb-return-button {
    margin: 5px;
}
.hb-right-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hb-title-block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hb-title-text{
    font-size: 24px;
    color: var(--terciary-color);
}
.hb-profile-picture{
    margin: 5px;
    height: 70px;
    width: 70px;
    border-radius: 5px;
}