.edit-professional-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ep-tabs{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.ep-tabs div{
    margin-top: 20px;
    margin-bottom: 10px;
}
.ep-large-button{
    width: 100%;
}