.vertical-line {
    height: calc(100% - 20px);
    width: 1px;
    z-index: 1;
}

.horizontal-line {
    height: 1px;
    width: calc(100% - 20px);
    z-index: 1;
}

.dark {
    background-color: var(--terciary-color);
}

.light {
    background-color: var(--secondary-color);
}