.right-block {
    display: flex;
    align-items: center;
}

.from-text {
    color: var(--terciary-color);
    font-size: 10px;
    font-family: var(--font-family);
}

.value-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-inline: 5px;
}

.value-button {
    height: 20px;
    width: 80px;
    border-radius: 5px;
    background-color: var(--terciary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.value-text{
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--secondary-color);
}
.duration-text{
    font-size: 10px;
    font-family: var(--font-family);
    color: var(--terciary-color);
}

.selection-text{
    font-size: 10px;
    font-family: var(--font-family);
    color: var(--terciary-color);
}
