.icon-button{
    width: 80px;
    height: 120px;
    background-color: var(--secondary-color);
    gap: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-button-img{
    width: 60px;
    height: 60px;
}
.icon-button-text{
    text-align: center;
    color: var(--terciary-color);
    font-size: 13px;
}