.item-button-group{
    display: flex;
    justify-content: center;
    margin-block: 5px;
}
.item-button {
    width: calc(100% - 40px);
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
