.secondary-color-background {
    background-color: var(--secondary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.terciary-color-background {
    background-color: var(--terciary-color);

}

.terciary-color {
    color: var(--terciary-color);

}

.background {
    background-color: var(--primary-color);
    min-height: 100vh;
}

div {
    transition: 500ms;
}

p {
    font-family: var(--font-family);
}