:root {
    --primary-color: #1E1E1E;
    --secondary-color: #C6AC8F;
    --terciary-color: #5E503F;
    --quaternary-color: #EAE0D5;
    --font-family: 'Roboto'
}
@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
}