.left-block {
    display: flex;
    align-items: center;
}

.image {
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    margin-right: 0;
}

.title-block{
    margin-left: 5px;
}

.title-text {
    font-size: 24px;
    font-family: var(--font-family)
}