.professional-list-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pl-search-bar-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}
.pl-professional-list{
    width: 100%;
    display: flex;
    flex-direction: column;
}