.large-button {
    height: 40px;
    width: calc(100% - 40px);
    background-color: var(--secondary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom: 20px;
}

.large-button-text {
    font-size: 34px;
    color: var(--terciary-color);
}
.hide{
    bottom: -50px;
}
