.large-button-overlap{
    height: 70px;
    width: 100%;
    background: linear-gradient(0deg, var(--primary-color) 50%, rgba(0,0,0,0) 100%);
    position:fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.large-button {
    height: 40px;
    width: calc(100% - 40px);
    background-color: var(--secondary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-button-text {
    font-size: 34px;
    color: var(--terciary-color);
}
.hide{
    bottom: -70px;
    opacity: 0;
}
