.edit-professional-delete{
    display: flex;
    flex-direction: column;
    gap: 50px;

    align-items: center;
    width: 100%;
}

.epd-title {
    color: #EAE0D5;
    font-size: 22px;
    width: 310px;
}

.epd-subtitle-block {
    display: flex;
    gap: 35px;
}

.epd-subtitle {
    color: var(--secondary-color);
    font-size: 14px;
    padding-top: 2px;
}
.epd-item-button{
    width: 100%;
}